<form #form="ngForm" (ngSubmit)="onSave()">
  <div class="form-field">
    <label for="email">E-mail</label>
    <input
      pInputText
      type="email"
      id="email"
      name="email"
      [(ngModel)]="email"
      required
    />
  </div>
  <div class="form-field">
    <label for="message">Votre message</label>
    <input
      pInputText
      type="text"
      id="message"
      name="message"
      [(ngModel)]="message"
      required
    />
  </div>
  <div class="flex justify-content-between">
    <p-button
      type="submit"
      [disabled]="!form.valid"
      label="Enregistrer"
      severity="success"
    />
  </div>
</form>
