<div class="card">
  <p-messages [(value)]="messages" [enableService]="false" />
</div>
<form #form="ngForm" (ngSubmit)="onSave()">
  <div class="form-field">
    <label for="email">E-mail</label>
    <input
      pInputText
      type="email"
      id="email"
      name="email"
      [(ngModel)]="email"
      required
    />
  </div>
  <div class="form-field">
    <label for="message">Votre message ({{ message.length }}/300)</label>
    <textarea
      pInputText
      type="text"
      id="message"
      name="message"
      [(ngModel)]="message"
      maxlength="300"
      required
    ></textarea>
  </div>
  <div class="flex justify-content-between">
    <p-button
      type="submit"
      [disabled]="!form.valid"
      label="Envoyer"
      severity="success"
    />
  </div>
</form>
