<p-toolbar [style]="{ height: '100px' }">
    <div class="p-toolbar-group-start">
        <img src="assets/icons/icon-72x72.png" alt="logo" />
    </div>
    <div class="p-toolbar-group-center">
        {{ title }}
    </div>
    <div class="p-toolbar-group-end">
        <p-button (onClick)="onViewCart()" [matBadge]="panierService.getCartSize()" matBadgeColor="warn" icon="pi pi-shopping-cart" rounded="true" text="true"/>
    </div>
</p-toolbar>
<p-splitter 
    [panelSizes]="[20, 80]" 
    [style]="{ height: 'calc(100vh - 100px)' }">
    <ng-template pTemplate>
        <div class="w-full">
            <app-panel-menu />
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="w-full app-content">
            <router-outlet></router-outlet>
        </div>
    </ng-template>
</p-splitter>

<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    modal="true"
    header="Liste des produits du panier">
    @if(panierService.getCartSize() > 0){
        <p-table [value]="panierService.getProducts()" >
            <ng-template pTemplate="header">
                <tr>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Prix unitaire</th>
                    <th>Quantité</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.price | currency:'EUR' }}</td>
                    <td>{{ product.quantity }}</td>
                </tr>
            </ng-template>
        </p-table>
    } @else {
        <span class="p-text-secondary block mb-5">Aucun article présent dans le panier.</span>
    }
</p-dialog>